<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.mung.sentience.zoterosentience"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="sk.mung.sentience.zoterosentience.GlobalState">
        <activity
            android:name=".LibraryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="sk.mung.sentience.zoterosentience.LibraryItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LibraryActivity" />
        </activity>

        <activity
                android:name=".NoteEditor"
                android:icon="@drawable/ic_note_editor_light"
                android:label="@string/note_editor">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".LibraryActivity" />
        </activity>
        <activity android:name=".SettingsIntentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>
        <activity android:name=".ItemPagerActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LibraryActivity" />
        </activity>


        <service android:name=".SynchronizingService"/>

        <receiver android:name=".SyncEventsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BootSchedulerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>